body {
    background-image: url("https://i.pinimg.com/736x/30/e6/25/30e6250a960d2db87a050c10222ebdb3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;    /* Vertically center */
    justify-content: center; /* Horizontally center */
}

#jiji {
    border: 2px solid #87CEEB;
    background-color: rgba(255, 255, 255, 0.7); /* semi-transparent white */
    width: 200px;
    height: 35px;
    border-radius: 20px;
    margin-right: 20px;
}

#tafuta {
    border: 2px solid #87CEEB;
    background-color: rgba(255, 255, 255, 0.7);
    width: 60px;
    height: 35px;
    border-radius: 30px;
}

#tafuta:hover,
#tafuta:active {
    background-color: #87CEEB;
    color: white;
}

.container {
    background-color: rgba(253, 245, 250, 0.9);
    border-radius: 20px;
    padding: 40px;
    width: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}

main {
    flex-grow: 1;
    position: relative;
}

h1 {
    color: #87CEEB;
}

p {
    color: blueviolet;
    font-size: 20px;
}

.nyevu,
.upepo {
    color: magenta;
}

.joto {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

footer {
    color: forestgreen;
    font-size: 10px;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
}
