body {
    background-image: url("https://i.pinimg.com/736x/30/e6/25/30e6250a960d2db87a050c10222ebdb3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    /* display: flex; */
    /* align-items: flex-start;     Align to top */
    /* justify-content: center;     Horizontal centering */
}
 
header{
    margin-bottom: 10px;
    border-bottom: rgba(7, 61, 83, 0.8); /* 50% transparent sky blue */
    padding-bottom: 10px;
}


#jiji {
    border: 2px solid #87CEEB;
    background-color: rgba(255, 255, 255, 0.7);
    width: 70%;
    height: 35px;
    border-radius: 20px;
    margin-right: 20px;
}

#tafuta {
    border: none;
    background-color: blueviolet;
    width: 10%;
    height: 35px;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
    font-family: "Pangolin", cursive;
}

#tafuta:hover,
#tafuta:active {
    background-color: #87CEEB;
    color: white;
}

input::placeholder {
    text-align: center;
    font-size: 17px;
    font-family: "Pangolin", cursive;
    font-weight: 400;
  }


input {
    text-align: center;
  }

.container {
    background-color: rgba(253, 245, 250, 0.9);
    border-radius: 20px;
    padding: 40px;
    width: 40%;
    height: 30%;
    margin: 60px auto; /* Move container down slightly from top */
    display: block;
}
main{
    position: relative;
}
h1 {
    color: #87CEEB;
}

p {
    color: blueviolet;
    font-size: 20px;
    
}

.emoji {
    font-size: 30px;
    margin-right: 7px;
}
.temp {
    font-size: 50px;
    font-weight: bold;
    color: gold;
    margin-left: 7px;
}

.nyevu,
.upepo {
    color: magenta;
}

.joto {
    position: absolute;
    top: 10px;       /* distance from the top */
    right: 10px;     /* move item to the right */
}

footer {
    color: forestgreen;
    font-size: 10px;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    text-align: center;
    margin-top: auto;
    padding-top: 10px;
}
